* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #469165;
    color: #469165;
    transition: 0.3s;
}

header {
    padding: 16px 120px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 139px;
    height: 60px;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu li a:hover {
    background-color: #469165;
    color: #FFFFFF;
    transition: 0.3s;
}
nav .menu a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}


.hero-section {
    position: relative;
    height: 674px;
    background: url(image/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-overlay {
    position: absolute;
}
.hero-content {
    position: relative;
    max-width: 900px;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    margin: 115.5px 120px 179.5px 120px;
}
.early-access {
    width: 229px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    background: #fff;
    color: #2e7d32;
    border-radius: 999px;
    font-size: 17px;
}
.dot {
    width: 16px;
    height: 16px;
    background: #2e7d32;
    border-radius: 50%;
    border: 4px solid #85bd9c;
    margin-right: 10px;
}
.hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 16px 0px;
}

.hero-content h1 span {
    color: #30B868;
}
.hero-content p {
    font-size: 18px;
    line-height: 24px;
    max-width: 1360px;
    margin: 16px 0px 32px 0px;
    color: white;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.btn-primary {
    padding: 14px 22px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    background: #469165;
    color: #FFFFFF;
}
.btn-primary:hover {
    background: white;
    transition: 0.3s;
    color: #469165;
}
.btn-outline {
    padding: 14px 22px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid white;
    background: transparent;
    color: #FFFFFF;
    
}
.btn-outline:hover {
    background: white;
    transition: 0.3s;
    color: #469165;
}