* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #469165;
    color: #469165;
    transition: 0.3s;
}

header {
    padding: 16px 120px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 139px;
    height: 60px;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu li a:hover {
    background-color: #469165;
    color: #FFFFFF;
    transition: 0.3s;
}
nav .menu a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}


.hero-section {
    position: relative;
    height: 674px;
    background: url(image/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    position: relative;
    max-width: 900px;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    margin: 115.5px 120px 179.5px 120px;
}
.early-access {
    width: 229px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    background: #fff;
    color: #2e7d32;
    border-radius: 999px;
    font-size: 17px;
}
.dot {
    width: 16px;
    height: 16px;
    background: #2e7d32;
    border-radius: 50%;
    border: 4px solid #85bd9c;
    margin-right: 10px;
}
.hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 16px 0px;
}

.hero-content h1 span {
    color: #30B868;
}
.hero-content p {
    font-size: 18px;
    line-height: 24px;
    max-width: 1360px;
    margin: 16px 0px 32px 0px;
    color: white;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.btn-primary {
    padding: 14px 22px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    background: #469165;
    color: #FFFFFF;
}
.btn-primary:hover {
    background: transparent;
    transition: 0.3s;
    color: #469165;
}
.btn-outline {
    padding: 14px 22px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid white;
    background: transparent;
    color: #FFFFFF;
    
}
.btn-outline:hover {
    background: #30B868;
    transition: 0.3s;
    color: white;
}

#card {
    padding-top: 50px;
    background: rgb(245, 242, 242);
}
.section-heading {
    margin: 0 auto;
    text-align: center;
}
.card-container {
    width: 1360px;
    margin: 0 auto;
}
.section-heading h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
#card .card-container .card-box {
    display: flex;
    gap: 24px;
}
.card-details {
    width: 322px;
    height: 300px;
    background: white;
    padding: 69.5px 24px 24px 24px ;
    justify-content: center;
    text-align: center;
    margin-top: 44px;
}
.card-box img {
    padding: 14px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 16px;
}
.card-details h3 {
    color: #001931;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card-details p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21.5px;
}

#Second-Brain-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 120px 41px 120px;
}
#Second-Brain-Section .img {
    width: 600px;
    height: 600px;
    background-image: url(image/knowledge.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.brain-details {
    padding: 102px 0px 102px 60px;
    background: ;
}
.brain-details p {
    font-size: 16px;
    margin-bottom: 16px;
    color: #627382;
}
.brain-details h3 {
    font-size: 48px;
    font-weight: bold
    margin-bottom: 16px;
    ine-height: -10px;
}
.brain-details ul {
    margin-top: 40px;
}
.brain-details ul li{
    display: flex;
    font-size: 16px;
    font-weight:400;
}
.brain-details ul li img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

#Early-Access-Section {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Early-Access-Section-details {
    width: 1360px;
    background-color: #F7F6F2;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 50px 0px;
}
.Early-Access-Section-details h3{
    font-size: 40px;
    font-weight: bold;
}
.Early-Access-Section-details p {
    font-size: 16px;
    color: #627382;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 40px;
}